{{template "base" .}}
{{define "title"}}Add User{{end}}
{{define "header"}}
{{end}}
{{define "body"}}
 
<style>

</style>
<br><br><br><br><br><br>
<h3 style="letter-spacing: 10px;">ADD USERS</h3>
<br>
<form action='/adduser' method='POST' novalidate>
    <div>
        <label for="username">Username:</label>
        <input type='text' id="username" name='username' value="{{.Username}}" >
        <span style="color: red;">{{index .Error "username"}}</span>

    </div>
    <div>
        <label for="email">Email:</label>
        <input type='email' id="email" name='email' value="{{.Email}}">
        <span style="color: red;">{{index .Error "email"}}</span>

    </div>
    <div>
        <label for="password">Password:</label>
        <input type='password' id="password" name='password'>
        <span style="color: red;">{{index .Error "password"}}</span>

    </div>
    <div>
        <input type='submit' value='Add'>
    </div>
    <div>
      {{if ne .Flash ""}}
        <span style="color: red; font-size: 13px;">* {{.Flash}}</span>
    {{end}}
</div>
</form>

{{end}}
