{{template "base" .}}
{{define "title"}}Split{{end}}
{{define "header"}}

{{end}}
{{define "body"}}

<style>
    form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }

    input[type='text'],
    input[type='submit'],
    input[type='checkbox'] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type='submit'] {
        background-color: #007bff;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    input[type='submit']:hover {
        background-color: #0056b3;
    }

    /* Style for checkboxes */
    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox'] + label {
        display: inline-block;
        margin-right: 10px;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f9f9f9;
        cursor: pointer;
    }

    input[type='checkbox']:checked + label {
        background-color: #007bff;
        color: white;
    }
</style>

<br><br><br><br><br><br>
<h3 style="letter-spacing: 10px;">CHANGE PASSWORD</h3>
<br>
<form action="/changePassword" method="POST">

    <label for="Current Password">Current Password</label>
    <input type="text" name="current" value="{{.CurrentPassword}}">
    <br><br>
    <label for="New Password">New Password</label>
    <input type="text" name="new" >
    <br><br>
    <label for="Confirm">Confirm Password</label>
    <input type="text" name="confirm">
    <br><br>
    {{if .Flash}}
        {{if eq .Flash "Password Change successful"}}
            <label style="color: green;">* {{.Flash}}</label>
        {{else}}
            <label style="color: red;">* {{.Flash}}</label>
        {{end}}
    {{end}}
    <input type="submit" value="Change Password">
</form>
{{end}}
