{{template "base" .}}
{{define "title"}}HOME{{end}}
{{define "body"}}
 
<div class="action-btns">
    <div style="position: fixed; top: 10px;">
        <h3>Hey, Let's Split...!</h3>
    </div>
    <div style="position: fixed; top: 10px; right: 10px;">
        <button onclick="location.href='submit_expense'">Create Split</button>
    </div>
    <div style="position: fixed; top: 10px; right: 230px;">
        <button onclick="location.href='/logout'">Logout</button>
    </div>
    {{if eq .UserId 1}}
    <div style="position: fixed; top: 10px; right: 140px;">
        <button onclick="location.href='/allusers'">Users</button>
    </div>
    {{end}}
</div>

 
<div style="width: 45%;">
<h2>Your Splits</h2>
<table border="1">
<tr>
<th>Expense ID</th>
<th>Note</th>
<th>Amount</th>
<th>Date</th>
<th>Status</th>
</tr>
            {{range .YourSplit}}
<tr>
<td>{{.ExpenseId}}</td>
<td>{{.Note}}</td>
<td>{{.Amount}}</td>
<td>{{.Date}}</td>
<td>{{if eq .Status 0}}Pending{{else}}Paid{{end}}</td>
</tr>
            {{end}}
</table>
</div>
 
    <div style="width: 45%;">
        <h2>Pending payments</h2>
    </div>
</div>
{{end}}
