{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "body"}}
<form action='/login' method='POST' novalidate>
    <div>
        <label style="display: block; margin-bottom: 5px; font-size: 12px">Email:</label>
        <input type='email' name='email' style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
    </div>
    <div>
        <label>Password:</label>
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
    <div>
    {{with .Flash}}
        <div class="flash">{{.}}</div>
    {{end}}
</div>
</form>
{{end}}