{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "header"}}
{{end}}
{{define "body"}}
<br><br><br><br><br>
<h1 class="login-header">LET'S SPLIT IT</h1>
<h3 class="login-sub-header">LOGIN</h3>
<form action='/login' method='POST' novalidate>
        <label style="display: block; margin-bottom: 5px; font-size: 12px">Email:</label>
        <input type='email' name='email' value="{{.Email}}" style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
    </div>
    <div>
        <label>Password:</label>
        <input type='password' name='password' required>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
    <div>
    {{with .Flash}}
        <div class="flash">* {{.}}</div>
    {{end}}
</div>
</form>
{{end}}