{{template "base" .}}
{{define "title"}}Split{{end}}
{{define "body"}}
 
<form action="/submit_expense" method="POST">
<label for="amount">Amount:</label>
<input type="text" id="amount" name="amount" required>
<br><br>
<label for="note">Note:</label>
<input type="text" id="note" name="note">
<br><br>
<label for="user">Select Users:</label>
            {{range .UserData}}
<input type="checkbox" id="user{{.UserID}}" name="user[]" value="{{.UserID}}">
<label for="user{{.UserID}}">{{.Name}}</label>
    {{end}}
<br><br>
<input type="submit" value="Submit">
</form>
{{end}}