{{template "base" .}}
{{define "title"}}HOME{{end}}
{{define "header"}}
    <div class="action-btns" style="float: right;">
        <button onclick="location.href='submit_expense'">Create Split</button>
    </div>
    {{if eq .UserId 1}}
    <div class="action-btns" style="float: right;">
        <button onclick="location.href='/allusers'">Users</button>
    </div>
    {{end}}
    <div style="clear: both;"></div>
</div>
{{end}}
{{define "body"}}
<br><br>

<div style="margin-top: 30px;"> 
    <div style="display: flex;">
        <div style="width: 100%; padding: 50px;">
            <h2>Split History</h2>
            {{range .SplitTransaction}}
                <div class="split-box">
                    <a style="text-decoration: none; color: black;" class="split-link" href="/expense_details?expenseId={{.ExpenseId}}">
                        <span class="split-title">{{.Title}}</span>
                        <p class="split-note">{{.Note}}</p>
                        <span class="split-amount">Rs: {{.Amount}}</span>
                        <span class="split-date">{{.Date.Format "02/01/2006"}}</span><br>
                        <div class="lowerDiv">
                            <span style="font-size: 12px; color: grey; font-style: italic;">Spent by {{.CreatedName}}</span>
                            <div class="status-wrapper">
                                <span class="split-status" style="background-color: {{if or (eq .Status 0) (eq .Status 1)}}#fcbc19{{else if eq .Status 2}}grey{{else if eq .Status 3}}#2db518{{end}};">
                                    {{if or (eq .Status 0) (eq .Status 1)}}Pending  {{else if eq .Status 2}}Cancelled{{else if eq .Status 3}}Completed{{end}}
                                </span>
                            </div>
                            {{if eq .Status 0}}
                                <button onclick="location.href='/cancelexpense?expenseId={{.ExpenseId}}'" class="split-status" style="background-color: red; pointer: cursor; border: none;">Cancel</button>
                            {{end}}
                        </div>
                    </a>
                </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}
