body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #ddd; 
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.section {
    padding: 30px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 24px); 
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 10px #439ee8;
    border-color: #000000;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}

.footer-link {
    color: #4CAF50;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.action-btns button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px;
}

/* Hover effect */
.action-btns button:hover {
    background-color: #0056b3;
}

h3 {
    font-size: 22px;
    color: #524545; 
    text-align: center; 
    margin: 0;
    padding: 10px; 
    font-weight: 100;
}

.split-box {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    background-color: #ffffff; /* Ensure background color matches */
}

.split-box:hover {
    background-color: #f9f9f9; /* Optional: Change background on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional: Increase shadow on hover */
}


.split-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
}
.split-amount {
    font-weight: bold;
    font-size: 12px;
    padding: 0px;
}
.split-date {
    float: right;
    font-size: 12px;    
    padding: 0px;
}

.split-note {
    padding: 0px;
    font-size: 14px;
    margin-bottom: 2px;
}

.split-status {
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;

}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #0056b3;
}

.login-header {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: grey;
    letter-spacing: 10px;
}

.login-sub-header{
    text-align: center;
    padding-bottom: 40px;
    font-size: 14px;
    font-weight: normal;
    color: grey;
    letter-spacing: 10px;
}

.flash {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: red !important;
    font-size: small;
}

.lowerDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 5px;
}

.lowerDiv span {
    flex: 1;
    display: inline-block;
    text-align: start;
}

.status-wrapper {
    display: inline-block; 
    border-radius: 5px; 
    padding: 0px 5px;
    margin-left: 5px; 
}
